body{
    margin: 0;
    padding: 0;
    font-family: Rajdhani;
    background-color: rgb(20, 20, 20);
    color: aliceblue;
}

.main{
    background-image: url(./images/react-icon-large.png);
    background-repeat: no-repeat;
    background-position :right 75%;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 7px 2px -2px rgba(0,0,0,.3);
    background-color: black;
}

.nav-logo{
    width: 60px;
    padding: 10px;
}

.nav-items{
    list-style: none;
    display: flex;
    padding: 10px;
}

.bullet {
    
    padding : 0 0 0 80px;
}

.bullet > li{    
    padding-block: 10px;
}

.bullet > li::marker{
    color: aqua;
    font-size: 1.4rem;
}

.nav-items > li{    
    padding: 10px;
}

.title{
    padding: 7px;
    padding-left: 40px;
    padding-top: 30px;
}

.footer{
    position: fixed;
    width: 100%;
    text-align: center;
    bottom: 0;
    background-color: black;
    color: gray;
}

.logo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 14%;
    color:cyan ;
}