body{
    margin: 0;
    font-family: 'Titillium Web';
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: aqua; */
    height: 100vh;
    padding: 50px;
}

navbar{
    background-color: #af9bff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px 0 20px ;
}

.nav-1{
    display:flex;
    align-items: center;
    gap: 1rem;
}

.meme-icon{
    height: 50px;
}

main{
    /* background-color: #1b7f45; */
    
    width: 50%;
    height: 400px;
}

.section-1{
    /* background-color: #ffc39b; */
    display:flex;
    justify-content: space-between;
    width: 100%;
}

.input{
    width:43%;
    height: 50px;
    padding-left: 10px;
    border: 2px solid gray ;
    border-radius: 10px;
    font-size: 18px;
}

.section-2{
    background-color:#af9bff;
    border-radius: 10px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-block: 30px;
    font-weight: bold;
    width: 100%;
}

.section-3{
    /* background-color: black; */
    width: 100%;
    height: 100%;
}

.imgg{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.text{
    position: absolute;
    display: flex;
    justify-content: center;
    /* background-color: #af9bff; */
    width: 100vh;
    font-family: 'Courier New', Courier, monospace;
    font-size: 45px;
    font-weight: bolder;
    -webkit-text-stroke: #c2b4fa 1px;
}

.top-text{
    
    margin-top: 10px;
}

.bottom-text{

    margin-top: -70px;
}
