body{
    margin: 0;
    margin-top: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

main{
    height: 200px;
    width: 600px;
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.section1{
    background-color: gray;
    height: 90px;
    width: 90px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    color: aliceblue;
}

.section2{
    background-color: rgb(219, 219, 219);
    height: 200px;
    width: 200px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
}